absl-py==1.2.0; python_version >= "3.7" and python_version < "4"
astunparse==1.6.3
cachetools==5.2.0; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
certifi==2022.6.15; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.0; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
colorama==0.4.5; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.5.0" and python_version >= "3.7" and platform_system == "Windows"
cycler==0.11.0; python_version >= "3.7"
cython==0.29.30; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
dill==0.3.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.7"
dm-tree==0.1.7; python_version >= "3.7"
etils==0.6.0; python_version >= "3.7"
flatbuffers==2.0
fonttools==4.34.4; python_version >= "3.7"
gast==0.5.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
gin-config==0.5.0; python_version >= "3.7"
google-api-core==2.8.2; python_version >= "3.7"
google-api-python-client==2.54.0; python_version >= "3.7"
google-auth-httplib2==0.1.0; python_version >= "3.7"
google-auth-oauthlib==0.4.6; python_version >= "3.6"
google-auth==2.9.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
google-pasta==0.2.0
googleapis-common-protos==1.56.4; python_version >= "3.7" and python_version < "4"
grpcio==1.47.0; python_version >= "3.6"
h5py==3.7.0; python_version >= "3.7"
httplib2==0.20.4; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
idna==3.3; python_version >= "3.7" and python_version < "4"
importlib-metadata==4.12.0; python_version < "3.10" and python_version >= "3.7"
importlib-resources==5.9.0; python_version < "3.9" and python_version >= "3.7"
joblib==1.1.0; python_version >= "3.8"
kaggle==1.5.12; python_version >= "3.7"
keras-preprocessing==1.1.2
keras==2.8.0
kiwisolver==1.4.4; python_version >= "3.7"
libclang==14.0.1
markdown==3.4.1; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
matplotlib==3.5.2; python_version >= "3.7"
numpy==1.23.1
oauth2client==4.1.3; python_version >= "3.7"
oauthlib==3.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
opencv-python-headless==4.6.0.66; python_version >= "3.7"
opt-einsum==3.3.0; python_version >= "3.5"
packaging==21.3; python_version >= "3.7"
pandas==1.4.3; python_version >= "3.8"
pillow==9.2.0; python_version >= "3.7"
portalocker==2.5.1; python_version >= "3.7"
promise==2.3; python_version >= "3.7"
protobuf==3.19.4; python_version >= "3.7" and python_version < "4"
psutil==5.9.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
py-cpuinfo==8.0.0; python_version >= "3.7"
pyasn1-modules==0.2.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pyasn1==0.4.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7") or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
pycocotools==2.0.4; python_version >= "3.7"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
python-slugify==6.1.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pytz==2022.1; python_version >= "3.8"
pywin32==304; platform_system == "Windows" and python_version >= "3.7"
pyyaml==6.0; python_version >= "3.7"
regex==2022.7.9; python_version >= "3.7"
requests-oauthlib==1.3.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
requests==2.28.1; python_version >= "3.7" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
rsa==4.9; python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
sacrebleu==2.1.0; python_version >= "3.7"
scikit-learn==1.1.1; python_version >= "3.8"
scipy==1.8.1; python_version >= "3.8" and python_version < "3.11"
sentencepiece==0.1.96; python_version >= "3.7"
seqeval==1.2.2; python_version >= "3.7"
setuptools-scm==7.0.5; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
tabulate==0.8.10; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
tensorboard-data-server==0.6.1; python_version >= "3.6"
tensorboard-plugin-wit==1.8.1
tensorboard==2.8.0; python_version >= "3.6"
tensorflow-addons==0.17.1; python_version >= "3.7"
tensorflow-datasets==4.6.0; python_version >= "3.7"
tensorflow-estimator==2.8.0; platform_machine != "arm64" and python_version >= "3.7" or platform_system != "Darwin" and python_version >= "3.7"
tensorflow-hub==0.12.0; python_version >= "3.7"
tensorflow-io-gcs-filesystem==0.26.0; python_version >= "3.7" and python_version < "3.11" and (platform_machine != "arm64" and python_version >= "3.7" or platform_system != "Darwin" and python_version >= "3.7")
tensorflow-macos==2.8.0; platform_machine == "arm64" and platform_system == "Darwin" and python_version >= "3.7"
tensorflow-metadata==1.9.0; python_version >= "3.7" and python_version < "4"
tensorflow-model-optimization==0.7.3; python_version >= "3.7"
tensorflow-text==2.8.2
tensorflow==2.8.2; platform_machine != "arm64" and python_version >= "3.7" or platform_machine != "arm64" and python_version >= "3.7" and platform_system != "Darwin" or platform_system != "Darwin" and python_version >= "3.7"
termcolor==1.1.0; python_version >= "3.7"
text-unidecode==1.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
tf-estimator-nightly==2.8.0.dev2021122109; platform_machine == "arm64" and platform_system == "Darwin"
tf-models-official==2.7.0; python_version >= "3.7"
tf-slim==1.1.0; python_version >= "3.7"
threadpoolctl==3.1.0; python_version >= "3.8"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_version >= "3.7"
tqdm==4.64.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
typeguard==2.13.3; python_full_version >= "3.5.3" and python_version >= "3.7"
typing-extensions==4.3.0
uritemplate==4.1.1; python_version >= "3.7"
urllib3==1.26.10; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
werkzeug==2.2.0; python_version >= "3.7"
wrapt==1.14.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
zipp==3.8.1; python_version >= "3.7" and python_version < "3.9"
